
div.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10% auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 54px 54px 54px 54px;
    width: 1000px;
    z-index: 3;
}

.container:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

div.header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 54px 54px 0 0;
    font-size: 36px;
    width: 1000px;
    z-index: 3;
}

div.header .temp{
    font-size: 72px;
}

div.maxAndMin {
    display: flex;
    font-size: 22px;
    margin-top: 10px;
}

div.forecastRow {
    display: flex;
}

div.forecastRow img{
    width: 80px;
}

div.forecastRow .hourlyForecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.data{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.data p{
    margin: 10px;
}
